In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [2]:
# Import the data
df = pd.DataFrame(pd.read_csv('Resources/lending_data.csv'))
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [4]:
# Split the data into X_train, X_test, y_train, y_test
y = df['loan_status']
X = df.drop('loan_status', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=78)
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
21908,8800.0,6.882,45400,0.339207,3,0,15400
66774,8800.0,6.859,45100,0.334812,3,0,15100
22274,8800.0,6.881,45400,0.339207,3,0,15400
6748,8900.0,6.891,45400,0.339207,3,0,15400
4719,10300.0,7.491,51100,0.412916,4,1,21100

## Prediction
I think the random forest classifier model will perform better than logistic regression model.

In [10]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

clf = LogisticRegression()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(f'Training score: {clf.score(X_train, y_train)}')
print(f'Testing score: {clf.score(X_test, y_test)}')
print(f'Accuracy score: {accuracy_score(y_pred, y_test)}')

Training score: 0.9923132480396203
Testing score: 0.9916941807676434
Accuracy score: 0.9916941807676434

In [13]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(f'Training score: {clf.score(X_train, y_train)}')
print(f'Testing score: {clf.score(X_test, y_test)}')
print(f'Accuracy score: {accuracy_score(y_pred, y_test)}')

Training score: 0.9974893382858715
Testing score: 0.991642591828312
Accuracy score: 0.991642591828312

## Observations:
The random forest classifier produced higher training score but slightliy lower testing score and accuracy score. 
Overall these two classifiers showed similar performance.